.myMenu {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 15%;
    height: 100vh;
}

.myItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myIcon {
    padding-right: 5px;
}
