.myMainView {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
}

.myNoDataImage {
    display: flex;
    align-items: center;
    justify-content: center;
}