.myMainView {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f3f1;
}

.myNoDataImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    margin-right: 16px;
}

.paginationAndRows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 20px 20px
}

.rowsCount {
    font-size: 18px;
    font-weight: 500;
}