.myBtn {
    width: auto;
    height: auto;
    padding: 12px;
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition-duration: 0.2s;
}

.myBtn:hover {
    color: #ffc78d;
}

.myBtn.active {
    color: lightgreen;
}